<?xml version="1.0"?>
<config>
    <modules>
        <Gotop_CategoryAttributes>
            <version>1.0.0</version>
        </Gotop_CategoryAttributes>
    </modules>
    <global>
        <resources>
            <gotop_categoryAttributes_setup>
                <setup>
                    <module>Gotop_CategoryAttributes</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>default_setup</use>
                </connection>
            </gotop_categoryAttributes_setup>
        </resources>
    </global>
</config>