<?xml version="1.0"?>
<config>
    <modules>
        <Gotop_CitySelector>
            <version>0.1.0</version>
        </Gotop_CitySelector>
    </modules>
    <global>
        <models>
            <gotop_cityselector>
                <class>Gotop_CitySelector_Model</class>
                <resourceModel>gotop_cityselector_resource</resourceModel>
            </gotop_cityselector>
            <gotop_cityselector_resource>
                <class>Gotop_CitySelector_Model_Resource</class>
                <entities>
                    <gotop_cityselector>
                        <table>gotop_cityselector</table>
                    </gotop_cityselector>
                </entities>
            </gotop_cityselector_resource>
        </models>
        <blocks>
            <gotop_cityselector>
                <class>Gotop_CitySelector_Block</class>
            </gotop_cityselector>
        </blocks>
        <helpers>
            <gotop_cityselector>
                <class>Gotop_CitySelector_Helper</class>
            </gotop_cityselector>
        </helpers>
        <resources>
            <gotop_cityselector_setup>
                <setup>
                    <module>Gotop_CitySelector</module>
                </setup>
            </gotop_cityselector_setup>
        </resources>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <gotop_cityselector>
                        <type>model</type>
                        <class>Gotop_CitySelector_Model_Observer</class>
                        <method>changeCity</method>
                    </gotop_cityselector>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </global>
    <frontend>
        <routers>
            <gotop_cityselector>
                <use>standard</use>
                <args>
                    <module>Gotop_CitySelector</module>
                    <frontName>cityselector</frontName>
                </args>
            </gotop_cityselector>
        </routers>
    </frontend>
    <admin>
        <routers>
            <gotop_cityselector>
                <use>admin</use>
                <args>
                    <module>Gotop_CitySelector</module>
                    <frontName>cityselector_admin</frontName>
                </args>
            </gotop_cityselector>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <gotop_cityselector module="gotop_cityselector">
                <title>Cities and related contacts</title>
                <sort_order>1000</sort_order>
                <children>
                    <gotop_cityselector_list translate="title" module="gotop_cityselector">
                        <title>Cities List</title>
                        <sort_order>0</sort_order>
                        <action>cityselector_admin/adminhtml_index</action>
                    </gotop_cityselector_list>
                </children>
            </gotop_cityselector>
        </menu>
    </adminhtml>
</config>