<?xml version="1.0"?>
<config>
    <modules>
        <Gotop_PaymentTypeLegalEntity>
            <version>0.1.0</version>
        </Gotop_PaymentTypeLegalEntity>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <legal_entity_company_name>
                    <to_order_payment>*</to_order_payment>
                </legal_entity_company_name>
                <legal_entity_company_id>
                    <to_order_payment>*</to_order_payment>
                </legal_entity_company_id>
                <legal_entity_company_address>
                    <to_order_payment>*</to_order_payment>
                </legal_entity_company_address>
            </sales_convert_quote_payment>
        </fieldsets>
        <models>
            <gotop_paymenttypelegalentity>
                <class>Gotop_PaymentTypeLegalEntity_Model</class>
            </gotop_paymenttypelegalentity>
        </models>
        <blocks>
            <gotop_paymenttypelegalentity>
                <class>Gotop_PaymentTypeLegalEntity_Block</class>
            </gotop_paymenttypelegalentity>
        </blocks>
        <helpers>
            <gotop_paymenttypelegalentity>
                <class>Gotop_PaymentTypeLegalEntity_Helper</class>
            </gotop_paymenttypelegalentity>
        </helpers>
        <resources>
            <gotop_paymenttypelegalentity_setup>
                <setup>
                    <module>Gotop_PaymentTypeLegalEntity</module>
                </setup>
            </gotop_paymenttypelegalentity_setup>
        </resources>
    </global>
    <default>
        <payment>
            <gotop_paymenttypelegalentity>
                <active>1</active>
                <model>gotop_paymenttypelegalentity/standard</model>
                <order_status>pending</order_status>
                <title>Custom Payment Method</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </gotop_paymenttypelegalentity>
        </payment>
    </default>
    <frontend>
        <routers>
            <gotop_paymenttypelegalentity>
                <use>standard</use>
                <args>
                    <module>Gotop_PaymentTypeLegalEntity</module>
                    <frontName>legalentity</frontName>
                </args>
            </gotop_paymenttypelegalentity>
        </routers>
    </frontend>
</config>